<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>Blog Login Page</title>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/login.css">
        <script src="https://kit.fontawesome.com/9a2c1412cd.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    </head>
<body>

    <header class="header">
        <div class="header-content">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-house"></i> <span>Home</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="profile-pic">
                <h4 id="profileName">hkallaste</h4>
                <img id="profilePicture" src="assets/images/profilepic.jpg">
                <div class="dropdown-menu" id="dropdownMenu" >
                    <a>hkallaste</a>
                    <a>hkallaste@hotmail.com</a>
                    <a>Logout</a>
                </div>
            </div> 
        </div>
    </header>

    <div class="login-container">
        <main class="login-content" id="login-container">
            <h2>Welcome to PostIt</h2>
            <form id="loginForm" action="/login" method="post">
                <button type="button" class="button" id="create-account">Create an account</button>
                <p id="loginPrompt"> or <br> Please log in </p>

                <div class="form-group" id="username-group" style="display: none;">
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>

                <div id="app">
                    <div class="form-group">
                        <input
                            type="password"
                            id="password"
                            v-model="password"
                            @focus="handleFocus"
                            @blur="handleBlur"
                            placeholder="Password"
                            required>
                    </div>
                    <div class="validation-errors" v-if="touched && passwordErrors.length > 0">
                        <p v-for="error in passwordErrors" :key="error" class="error">{{ error }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <a href="javascript:location.reload()" id="forgot-password">Forgot password?</a>
                </div>

                <div class="form-group">
                    <button type="submit" class="button" id="login-button">Log in</button>
                </div>
            </form>
        </main>    
    </div>    

    <footer class="footer">
        <h4>Web Application Development - Homework 2</h4>
        <p>Harmo-Ron Kallaste, Reno Feliks Lindvere, Ron Aaron Vahtra</p>
    </footer>
    <script src="assets/js/login.js"></script>
</body>
</html>
